* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

/* Debug */
.debug header {
    height: 50px;
    background-color: green;
}

.debug .hcolonnasm, .debug .hcolonnaxl {
    height: 50px;
    background-color: lightgreen;
}

.debug .background {
    height: 500px;
    background-color: blue;
}

.debug .background .container {
    height: 100%;
    background-color: lightblue;
}

.debug>footer .container {
    height: 50%;
    background-color: violet;
}

.debug .upcontainerxl {
    height: 80%;
    background-color: azure;
}

.debug .colonnaxl {
    height: 100%;
    background-color: azure;
}

.debug .colonnaxl {
    height: 100%;
    background-color: azure;
}

.debug .colonnasm {
    height: 100%;
    background-color: azure;
}

.debug .downcontain {
    height: 90%;
    background-color: rgb(68, 255, 255);
}

.debug .downcontainersm {
    height: 20%;
    background-color: azure;
}

.debug .downcontainerxl {
    height: 60%;
    background-color: azure;
}

.debug .fcolonnaxl {
    height: 100%;
    background-color: azure;
}

.debug .fcolonnasm {
    height: 100%;
    background-color: azure;
}

.debug .credits {
    height: 100%;
    background-color: azure;
}
/* /Debug */

/* Header */
header {
    background-color: #3161E0;
}

.hcolonnasm, .hcolonnaxl {
    float: left;
}

.logo {
    padding-top: 0.2rem;
}

nav {
    width: 100%;
}

nav .hcolonnasm {
    width: 20%;
    line-height: 100%;
}

nav .hcolonnaxl {
    width: 60%;
}

.hcolonnaxl {
    text-align: center;
    padding-top: 0.6rem;
}

a{
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.accedi {
    text-align: right;
    padding: 0.2rem;
}

.font {
    
    padding: 0.4rem;
    border-radius: 3rem;
    border: 1px solid gray;
}
/* /Header */

/* Main */
.background {
    width: 100%;
}

.upcontainer {
    width: 40%;
    margin: auto;
}

.container {
    width: 70%;
    margin: auto;
}

.spazi {
    padding: 10rem;
}

.hero {
    background-image: url(../img/jumbo.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}

.upcontainerxl {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    text-align: center;
}

h1 {
    font-size: 3rem;
}

.text {
    font-size: 1.4rem;
    padding-top: 1.7rem;
}

.download {
    padding-top: 1rem;
    
}
.blackbtn {
    background-color: black;
    color: white;
    border: 0px;
    padding: 1rem;
    font-size: 1.2rem;
    margin: 1rem;
    cursor: pointer;
}

.whitebtn {
    background-color: white;
    border: 0px;
    padding: 1rem;
    font-size: 1.2rem;
    margin: 1rem;
    cursor: pointer;
}

.colonnaxl, .colonnasm {
    float: left;
}

.colonnaxl {
    width: 70%;
}

.img_sx {
    position: relative;
    left: 16rem;
}

.colonnasm {
    width: 30%;
}

.main_title {
    font-size: 3rem;
}

.main_text {
    font-size: 1.5rem;
}

.wave {
    position:relative;
    top: 1rem;
    opacity: 0.1;
}
.backwave {
    background-color: #E6E6E6;
    position: relative;
    top: 5px;
}

.rotwave {
    transform: rotate(180deg);
    opacity: 0.1;
    position: relative;
    top: 5px;
}


.downcontain {
    width: 88%;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.downcontainersm, .downcontainerxl {
    width: 100%;
}

/* /Main */

/* Footer */
.fcolonnaxl, .fcolonnasm {
    float: left;
}

.fcolonnaxl {
    width: 30%;
}

.fcolonnasm {
    width: 17.5%;
}

.credits {
    float: left;
    width: 50%;
}
/* /Footer */

