* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Debug */
.debug header {
    height: 50px;
    background-color: green;
}

.debug .hcolonnasm, .debug .hcolonnaxl {
    height: 50px;
    background-color: lightgreen;
}

.debug .background {
    height: 500px;
    background-color: blue;
}

.background .container {
    width: 70%;
    height: 100%;
    margin: auto;
    background-color: lightblue;
}

.debug>footer .container {
    height: 50%;
    background-color: violet;
}

.debug .upcontainerxl {
    height: 80%;
    background-color: azure;
}

.debug .colonnaxl {
    height: 100%;
    background-color: azure;
}

.debug .colonnaxl {
    height: 100%;
    background-color: azure;
}

.debug .colonnasm {
    height: 100%;
    background-color: azure;
}

.debug .downcontain {
    height: 100%;
    background-color: rgb(68, 255, 255);
}

.debug .downcontainersm {
    height: 20%;
    background-color: azure;
}

.debug .downcontainerxl {
    height: 60%;
    background-color: azure;
}
/* /Debug */

/* Header */
.container, .background .container {
    width: 90%;
    margin: auto;
}

.hcolonnasm, .hcolonnaxl {
    float: left;
}

nav {
    width: 100%;
}
 
nav .hcolonnasm {
    width: 30%;
}

nav .hcolonnaxl {
    width: 40%;
}
/* /Header */

/* Main */
.background {
    width: 100%;
}

.upposition {
    position: relative;
}

.upcontainerxl {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.colonnaxl, .colonnasm {
    float: left;
}

.colonnaxl {
    width: 60%;
}

.colonnasm {
    width: 40%;
}

.downcontain {
    width: 88%;
    margin: auto;
}

.downcontainersm, .downcontainerxl {
    width: 100%;
}
/* /Main */

/* Footer */
/* /Footer */

