* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Debug */
.debug header {
    height: 50px;
    background-color: green;
}

.debug .colonnasm, .debug .colonnaxl {
    height: 50px;
    background-color: lightgreen;
}

.debug .background {
    height: 500px;
    background-color: blue;
}

.background .container {
    width: 70%;
    height: 100%;
    margin: auto;
    background-color: lightblue;
}

.debug>footer .container {
    height: 50%;
    background-color: violet;
}
/* /Debug */

/* Header */
.container {
    width: 70%;
    margin: auto;
}

.colonnasm, .colonnaxl {
    float: left;
}

nav {
    width: 100%;
}
 
nav .colonnasm {
    width: 30%;
}

nav .colonnaxl {
    width: 40%;
}
/* /Header */

/* Main */
.background {
    width: 100%;
}
/* /Main */

/* Footer */
/* /Footer */

